# Python
__pycache__/
*.pyc

# Poetry
.venv/

# Logs
*.log

# Outputs
image_metadata.json
image_metadata.csv
out.json
out.csv

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
